* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background: url('../image/wave-haikei.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

/* ------------Header Section------------- */
header {
    width: 100vw;
    height: 40vh;
    color: #f9f4f4;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 4rem;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    border: none;
    width: 300px;
    padding: 10px 25px;
    font-size: 1.5em;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    outline-style: none;
    background-color: #f9f4f4;
    color: #444141;
}

button {
    border: none;
    padding: 10px 20px;
    font-size: 1.5em;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

/* ----------------main section--------------- */

#main {
    width: 80vw;
    margin: 4rem auto;
    display: flex;
    column-gap: 1rem;
}

.player-image {
    width: 50%;
}

.player-details {
    width: 50%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    color: #201d1d;
}

.player-image img {
    width: 80%;
    border-radius: 15px;
}

/* ----------------Footer Section------------ */
footer {
    width: 100vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 2rem;
    color: rgb(223, 215, 215);
    background: url('../image/wave-haikei-footer.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

/* Spinner */
.preloader {
    background: white url('../image/loading.gif') no-repeat center center;
    background-size: 30%;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 100;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 3rem;
        text-align: center;
        margin-top: 3rem;
    }

    input {
        width: 70vw;
    }

    #main {
        width: 95vw;
        column-gap: 0;
        row-gap: 1rem;
        flex-direction: column;
    }

    .player-image {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 5rem;
    }

    .player-details {
        width: 100%;
        padding: 1rem;
        font-size: 1.5rem;
        line-height: 4rem;
    }

    footer {
        padding-bottom: 1rem;
        font-size: 0.5rem;
    }
}